* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100%;
  background: #18181b;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  max-width: 1124px;
  height: 74px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;

  margin-top: 170px;
  /* background: red; */
}

.logo-name h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 106%;
  color: #e4e4e7;
}

.logo-name h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #71717a;

  margin-top: 8px;
}

.section-hero--wrapper {
  width: 100%;
  height: calc(100vh - 244px);

  display: flex;
  justify-content: center;
}

.section-hero--container {
  width: 100%;
  max-width: 1124px;
  height: 318px;
  display: flex;
  gap: 40px;

  margin-top: 48px;

  /* background: red; */
}

.section-hero--leftside {
  border: 1px solid #27272a;
  border-radius: 12px;
  padding: 32px;
  height: 318px;
}

.default-password {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 686px;
  height: 78px;

  gap: 12px;

  margin-bottom: 40px;
  /* background: blue; */
}

.title-input {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #a1a1aa;
}

.inputs {
  display: flex;
  gap: 8px;
  align-items: center;
}

.inputs input {
  height: 41px;
  width: 686px;

  border: none;
  outline: none;
  background: #27272a;
  border-radius: 4px;
  padding: 10px 0px 10px 10px;
}

.inputs button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  width: 86px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  background: #f43f5e;
  border-radius: 4px;

  padding: 8px 24px;

  color: #fafafa;

  cursor: pointer;
}

.hash-password {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 686px;
  height: 78px;

  gap: 12px;
}

.inputs-hash {
  display: flex;
  gap: 8px;
}

.inputs-hash input {
  height: 41px;
  width: 560px;

  border: none;
  outline: none;
  background: #27272a;
  border-radius: 4px;
  padding: 10px 0px 10px 10px;
}

.inputs-hash button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  outline: none;

  width: 118px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  background: #f43f5e;
  border-radius: 4px;

  padding: 8px 24px;

  color: #fafafa;

  cursor: pointer;
}
