* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100%;
  background: #18181b;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  max-width: 1124px;
  height: 74px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;

  margin-top: 170px;
  /* background: red; */
}

.logo-name h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 106%;
  color: #e4e4e7;
}

.logo-name h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #71717a;

  margin-top: 8px;
}

.section-hero--wrapper {
  width: 100%;
  height: calc(100vh - 244px);

  display: flex;
  justify-content: center;
}

.section-hero--container {
  width: 100%;
  max-width: 1124px;
  height: 318px;
  display: flex;
  gap: 40px;

  margin-top: 48px;

  /* background: red; */
}

.section-hero--leftside {
  border: 1px solid #27272a;
  border-radius: 12px;
  padding: 32px;
  height: 318px;
}

.default-password {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 686px;
  height: 78px;

  gap: 12px;

  margin-bottom: 40px;
  /* background: blue; */
}

.title-input {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #a1a1aa;
}

.inputs {
  display: flex;
  gap: 8px;
  align-items: center;
}

.inputs input {
  height: 41px;
  width: 686px;

  border: none;
  outline: none;
  background: #27272a;
  border-radius: 4px;
  padding: 10px 0px 10px 10px;
}

.inputs button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  width: 86px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  background: #f43f5e;
  border-radius: 4px;

  padding: 8px 24px;

  color: #fafafa;

  cursor: pointer;
}

.hash-password {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 686px;
  height: 78px;

  gap: 12px;
}

.inputs-hash {
  display: flex;
  gap: 8px;
}

.inputs-hash input {
  height: 41px;
  width: 560px;

  border: none;
  outline: none;
  background: #27272a;
  border-radius: 4px;
  padding: 10px 0px 10px 10px;
}

.inputs-hash button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  outline: none;

  width: 118px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  background: #f43f5e;
  border-radius: 4px;

  padding: 8px 24px;

  color: #fafafa;

  cursor: pointer;
}

.hash-cripts {
  display: flex;
  gap: 8px;
  margin-top: 32px;
}

.hash-cripts button {
  width: 70px;
  height: 28px;
  border-radius: 16px;
  border: 1px solid #52525b;
  background: #18181b;
  color: #52525b;
  outline: none;
  cursor: pointer;
  padding: 2px, 16px, 2px, 16px;

  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
}

.hash-cripts .MD5 {
  background: rgba(251, 113, 133, 0.1);
  color: #fb7185;
  /* Tail Tail/rose/400 */

  border: 1px solid #fb7185;
}

.section-hero--rightside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;

  width: 334px;
  height: 318px;

  background: #18181b;
  /* zinc/800 */

  border: 1px solid #27272a;
  border-radius: 12px;
}

.rightside-top {
  width: 100%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 12px;
}

.rightside-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #a1a1aa;
}

.necessary {
  display: flex;
  gap: 16px;
}

.necessary button {
  background: rgba(251, 113, 133, 0.1);
  color: #fb7185;
  /* Tail Tail/rose/400 */

  border: 1px solid #fb7185;

  width: 58px;
  height: 28px;
  border-radius: 16px;

  outline: none;
  cursor: pointer;
  padding: 2px, 16px, 2px, 16px;

  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
}

.rightside-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rightside-bottom input {
  width: 56px;
  height: 35px;

  /* Tail Tail/zinc/800 */

  background: #27272a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #a1a1aa;

  padding: 8px 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
